@charset "UTF-8";
html {
  background: #2c2929;
}

body {
  padding: 0px;
  margin: 0px;
  background: #fff;
}

a {
  color: #fff;
}

.b-img {
  display: none;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: bold;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border-bottom: 4px solid black;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

p {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: oblique;
}

#mouse {
  margin-top: 5em;
  display: inline-block;
  width: 3.5em;
  height: 6em;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100px;
  border: 2px solid white;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#wheel {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 0.75em;
  height: 0.75em;
  background-color: white;
  border-radius: 50%;
}

.scroll2 {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  height: 0px;
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-top: 0.4em solid white;
  -webkit-animation: down2 1s infinite;
  animation: down2 1s infinite;
}

.scroll3 {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  height: 0px;
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-top: 0.4em solid white;
  -webkit-animation: down 1s infinite;
  animation: down 1s infinite;
}

.scroll {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  height: 0px;
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-top: 0.4em solid white;
  -webkit-animation: down3 1s infinite;
  animation: down3 1s infinite;
}

@-webkit-keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(2.3em);
            transform: translateY(2.3em);
  }
}

@keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(2.3em);
            transform: translateY(2.3em);
  }
}

@-webkit-keyframes down2 {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(2.3em);
            transform: translateY(2.3em);
  }
}

@keyframes down2 {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(2.3em);
            transform: translateY(2.3em);
  }
}

@-webkit-keyframes down3 {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateY(2.3em);
            transform: translateY(2.3em);
  }
}

@keyframes down3 {
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
    -webkit-transform: translateY(2.3em);
            transform: translateY(2.3em);
  }
}

.cont-header {
  position: relative;
}

.cont-header .b-img {
  display: none;
}

@media only screen and (max-width: 768px) {
  .cont-header .b-img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.cont-header .span {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
}

.cont-header .span .cont {
  position: absolute;
  height: 100%;
  width: 100%;
}

.cont-header .span .cont h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.cont-header .span .cont p {
  display: block;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.cont-header .span .cont .button1 {
  text-align: center;
  background: #1f98f0;
  border: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 15px;
  transition: .2s linear;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cont-header .span .cont .button1:hover {
  background: #0f89e2;
}

.blue {
  color: #1f98f0;
  font-size: 25px;
}

.white {
  color: #fff;
  font-size: 25px;
}

.slog {
  position: absolute;
  top: 4px;
  left: 70px;
}

.header .l_img {
  width: 30px;
  height: 30px;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  float: left;
}

.header__nav {
  background-color: black;
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header__nav_logo {
  float: left;
  margin-top: 20px;
}

.header__nav_logo a:hover .l_img {
  -webkit-transform: rotateY(1turn);
  transform: rotateY(1turn);
}

.header__nav .fa-bars {
  float: right;
  font-size: 30px;
  color: #fff;
  margin-top: 23px;
  margin-right: 30px;
}

.header__nav .fa-bars:hover {
  color: #1f98f0;
}

.header__nav_paginition {
  margin-top: 15px;
}

.header__nav_paginition a {
  display: inline-block;
  height: 35px;
  margin-left: 15px;
  float: right;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  transition: .2s linear;
  font-size: 14px;
}

.header__nav_paginition a:hover {
  border-bottom: 3px solid #1f98f0;
  color: #1f98f0;
}

.mPS2id-highlight {
  border-bottom: 3px solid #1f98f0;
  color: #1f98f0;
}

.about {
  height: 100%;
}

.about .item {
  height: 400px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  display: inline-block;
  transition: .4s linear;
}

.about .item .fa-desktop, .about .item .fa-cogs, .about .item .fa-code-fork {
  font-size: 60px;
  color: #1f98f0;
}

.about .item h3 {
  text-align: center;
}

.about .item p {
  text-align: center;
}

.about .item a {
  left: 50%;
  bottom: 20px;
  position: absolute;
  border-radius: 15px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #000;
  width: 120px;
  height: 40px;
  border: 1px solid #1f98f0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: .2s linear;
}

.about .item a:hover {
  background-color: #1f98f0;
}

.about .item:hover {
  background-color: #2c2929;
}

.about .item:hover h3 {
  color: #fff;
}

.about .item:hover p {
  color: #fff;
}

.about .item:hover a {
  color: #fff;
}

.team {
  height: 100%;
  background: #2c2929;
  padding: 30px 0;
}

.team .wrapp-team {
  position: relative;
}

.team .wrapp-team .team-item1 {
  height: 500px;
  background: #2c2929;
  float: left;
  left: 0%;
}

.team .wrapp-team .team-item1 h3, .team .wrapp-team .team-item1 p {
  text-align: center;
  color: #fff;
}

.team .wrapp-team .team-descr1 {
  height: 500px;
  position: absolute;
  left: 0px;
  padding: 0;
  border: 6px solid #1f98f0;
}

.team .wrapp-team .team-descr1 .team-logo {
  width: 100%;
  height: 100%;
}

.team .wrapp-team .team-descr1 .soc {
  display: block;
  margin-left: 50%;
  margin-top: -40px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #2c2929;
  opacity: 0;
  transition: .3s ease;
}

.team .wrapp-team .team-descr1 .soc a {
  margin: 0 15px;
}

.team .wrapp-team .team-descr1 .soc a .fa {
  line-height: 40px;
  font-size: 25px;
}

.team .wrapp-team .team-descr1 .soc a .fa:hover {
  color: #000;
}

.team .wrapp-team .team-descr1:hover .soc {
  background-color: #1f98f0;
  opacity: 1;
}

.team .wrapp-team .team-item2 {
  height: 500px;
  background: #2c2929;
  float: right;
  margin-top: 500px;
  right: 0%;
}

.team .wrapp-team .team-item2 h3, .team .wrapp-team .team-item2 p {
  text-align: center;
  color: #fff;
}

.team .wrapp-team .team-descr2 {
  height: 500px;
  position: absolute;
  top: 500px;
  right: 0px;
  padding: 0;
  border: 6px solid #1f98f0;
}

.team .wrapp-team .team-descr2 .team-logo {
  width: 100%;
  height: 100%;
}

.team .wrapp-team .team-descr2 .soc {
  display: block;
  margin-left: 50%;
  margin-top: -40px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #2c2929;
  opacity: 0;
  transition: .3s ease;
}

.team .wrapp-team .team-descr2 .soc a {
  margin: 0 15px;
}

.team .wrapp-team .team-descr2 .soc a .fa {
  line-height: 40px;
  font-size: 25px;
}

.team .wrapp-team .team-descr2 .soc a .fa:hover {
  color: #000;
}

.team .wrapp-team .team-descr2:hover .soc {
  background-color: #1f98f0;
  opacity: 1;
}

.team .wrapp-team .team-item3 {
  height: 500px;
  background: #2c2929;
  float: left;
  margin-top: 500px;
  left: 0px;
}

.team .wrapp-team .team-item3 h3, .team .wrapp-team .team-item3 p {
  text-align: center;
  color: #fff;
}

.team .wrapp-team .team-descr3 {
  height: 500px;
  position: absolute;
  top: 1000px;
  left: 0px;
  padding: 0;
  border: 6px solid #1f98f0;
}

.team .wrapp-team .team-descr3 .team-logo {
  width: 100%;
  height: 100%;
}

.team .wrapp-team .team-descr3 .soc {
  display: block;
  margin-left: 50%;
  margin-top: -40px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #2c2929;
  opacity: 0;
  transition: .3s ease;
}

.team .wrapp-team .team-descr3 .soc a {
  margin: 0 15px;
}

.team .wrapp-team .team-descr3 .soc a .fa {
  line-height: 40px;
  font-size: 25px;
}

.team .wrapp-team .team-descr3 .soc a .fa:hover {
  color: #000;
}

.team .wrapp-team .team-descr3:hover .soc {
  background-color: #1f98f0;
  opacity: 1;
}

.team .wrapp-team .team-item4 {
  height: 500px;
  background: #2c2929;
  float: right;
  margin-top: 500px;
  right: 0px;
}

.team .wrapp-team .team-item4 h3, .team .wrapp-team .team-item4 p {
  text-align: center;
  color: #fff;
}

.team .wrapp-team .team-descr4 {
  height: 500px;
  position: absolute;
  top: 1500px;
  right: 0px;
  padding: 0;
  border: 6px solid #1f98f0;
}

.team .wrapp-team .team-descr4 .team-logo {
  width: 100%;
  height: 100%;
}

.team .wrapp-team .team-descr4 .soc {
  display: block;
  margin-left: 50%;
  margin-top: -40px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #2c2929;
  opacity: 0;
  transition: .3s ease;
}

.team .wrapp-team .team-descr4 .soc a {
  margin: 0 15px;
}

.team .wrapp-team .team-descr4 .soc a .fa {
  line-height: 40px;
  font-size: 25px;
}

.team .wrapp-team .team-descr4 .soc a .fa:hover {
  color: #000;
}

.team .wrapp-team .team-descr4:hover .soc {
  background-color: #1f98f0;
  opacity: 1;
}

.team .m_team {
  padding: 0;
}

.team .m_team .m_item1 img {
  width: 100%;
  height: 100%;
}

.team .m_team .m_descr1 {
  background: #2c2929;
  position: relative;
  padding: 5px 0;
}

.team .m_team .m_descr1 h3, .team .m_team .m_descr1 p {
  text-align: center;
  color: #fff;
}

.team .m_team .m_item2 img {
  width: 100%;
  height: 100%;
}

.team .m_team .m_descr2 {
  background: #2c2929;
  padding: 5px 0;
}

.team .m_team .m_descr2 h3, .team .m_team .m_descr2 p {
  text-align: center;
  color: #fff;
}

.team .m_team .m_item3 img {
  width: 100%;
  height: 100%;
}

.team .m_team .m_descr3 {
  background: #2c2929;
  padding: 5px 0;
}

.team .m_team .m_descr3 h3, .team .m_team .m_descr3 p {
  text-align: center;
  color: #fff;
}

.team .m_team .m_item4 img {
  width: 100%;
  height: 100%;
}

.team .m_team .m_descr4 {
  background: #2c2929;
  padding: 5px 0;
}

.team .m_team .m_descr4 h3, .team .m_team .m_descr4 p {
  text-align: center;
  color: #fff;
}

.portfolio {
  height: 100%;
  width: 100%;
  background-color: #2c2929;
  clear: both;
  padding: 30px 0;
}

.portfolio .portfoloi_block {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.portfolio .portfoloi_block:hover img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.portfolio .portfoloi_block:hover .descr {
  opacity: 1;
  top: 0%;
}

.portfolio .portfoloi_block .i_item {
  transition: 1s ease;
  width: 100%;
}

.portfolio .portfoloi_block .descr {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 110, 216, 0.74);
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
  opacity: 0;
  top: 100%;
  transition: all .9s;
}

.portfolio .portfoloi_block .descr:hover .i_item {
  transition: 1s ease;
}

.portfolio .portfoloi_block .descr h3 {
  color: #fff;
}

.portfolio .portfoloi_block .descr p {
  color: #fff;
}

.portfolio .portfoloi_block .descr a {
  width: 100px;
  height: 30px;
  line-height: 30px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10%;
  transition: .2s linear;
}

.portfolio .portfoloi_block .descr a:hover {
  background-color: #fff;
  color: #000;
}

.portfoloi_block img {
  height: 250px;
  padding: 0px;
}

.preimusestva {
  height: 100%;
}

.preimusestva .slider {
  background: #2c2929;
  padding: 30px 0;
}

.preimusestva .slider .sl {
  padding: 0px;
}

.preimusestva .slider .sl .sl_slide {
  position: relative;
  height: 550px;
  width: 100%;
}

.preimusestva .slider .sl .sl_slide img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.preimusestva .slider .sl .sl_slide h3 {
  position: absolute;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50%;
  margin-bottom: 0;
  bottom: 0px;
  padding: 30px;
  width: 100%;
}

.subskribe {
  width: 100%;
  height: 100%;
  background-color: #2c2929;
  padding: 30px 0;
}

.subskribe .input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 4px solid #fff;
}

.subskribe .input:focus {
  border-bottom: 4px solid #1f98f0;
}

.subskribe .knopka {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  background: #1f98f0;
  color: #fff;
  border: none;
  text-transform: uppercase;
  outline: none;
}

.suggestion-max {
  height: 100%;
  background: #2c2929;
}

.suggestion-max .tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.suggestion-max .tabs li {
  min-height: 46px;
  padding: 0;
  float: left;
}

.suggestion-max .tabs li:hover {
  border-bottom: 4px solid #fff;
}

.suggestion-max .tabs li a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.active {
  border-bottom: 4px solid #1f98f0;
}

.active a {
  color: #fff;
}

.active:hover {
  border-bottom: 4px solid #1f98f0 !important;
}

.tab_container {
  height: 100%;
}

.tab_container .tab_content .tab-logo {
  padding: 40px 0;
}

.tab_container .tab_content .tab-deskr {
  padding: 40px 0;
  color: #fff;
}

.tab_container .tab_content .tab-deskr p {
  color: #fff;
  text-align: left;
}

.tab_container .tab_content .tab-deskr .tab-link {
  width: 120px;
  height: 35px;
  display: block;
  line-height: 35px;
  text-align: center;
  background: transparent;
  border-radius: 15px;
  border: 1px solid #1f98f0;
  text-transform: uppercase;
  color: #fff;
  transition: .2s linear;
  margin-top: 10%;
}

.tab_container .tab_content .tab-deskr .tab-link:hover {
  background: #1f98f0;
}

.open {
  background-color: #1f98f0 !important;
}

.suggestion-min .acr .acr__item .acr-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  background-color: #2c2929;
  color: #fff;
}

.suggestion-min .acr .acr__item .acr-title:hover {
  background-color: #1f98f0;
}

.suggestion-min .acr .acr__item .acr-content {
  display: none;
  background-color: #2c2929;
  width: 100%;
}

.suggestion-min .acr .acr__item .acr-content img {
  width: 100%;
}

.suggestion-min .acr .acr__item .acr-content p {
  text-align: center;
  margin: 0;
  padding: 30px 15px;
  color: #fff;
}

.suggestion-min .acr .acr__item .acr-content a {
  width: 120px;
  height: 35px;
  display: block;
  line-height: 35px;
  text-align: center;
  background: transparent;
  border-radius: 15px;
  border: 1px solid #1f98f0;
  text-transform: uppercase;
  color: #fff;
  transition: .2s linear;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.suggestion-min .acr .acr__item .acr-content a:hover {
  background: #1f98f0;
}

/*=============== ОТЗЫВЫ ===============*/
.otzyvy {
  height: 100%;
}

.otzyvy .slider {
  background: #2c2929;
  padding: 30px 0;
}

.otzyvy .slider .sl1 {
  padding: 0px;
}

.otzyvy .slider .sl1 .sl_slide {
  position: relative;
  height: 400px;
  width: 100%;
}

.otzyvy .slider .sl1 .sl_slide img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.otzyvy .slider .sl1 .sl_slide h3 {
  position: absolute;
  text-align: center;
  color: #fff;
  height: 50%;
  margin-bottom: 0;
  bottom: 0px;
  padding: 30px;
  width: 100%;
  text-transform: uppercase;
}

.otzivy-min {
  background-color: #2c2929;
}

.otzivy-min .rotate {
  position: relative;
  height: 400px;
  background-color: #2c2929;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: 0.6s;
  border-top: 2px solid #1f98f0;
  border-bottom: 2px solid #1f98f0;
}

.otzivy-min .rotate .log {
  border: 4px solid #1f98f0;
  border-radius: 50%;
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: 150px;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.otzivy-min .rotate .log img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.otzivy-min .rotate h3 {
  position: absolute;
  text-align: center;
  color: #fff;
  height: 50%;
  margin-bottom: 0;
  bottom: 0px;
  padding: 30px;
  width: 100%;
  text-transform: uppercase;
}

.otzivy-min .rotate p {
  color: #fff;
  position: absolute;
  bottom: 0px;
}

/*============= КОНЕЦ ===========*/
/*============= КОНТАКТЫ ===========*/
.contact {
  height: 100%;
  background-color: #2c2929;
}

.contact .conekt a {
  text-align: center;
}

.contact .conekt a:hover .fa {
  color: #1f98f0;
}

.contact .conekt .fa {
  padding: 0px;
  color: #fff;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact .conekt .input {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 4px solid #fff;
}

.contact .conekt .input:focus {
  border-bottom: 4px solid #1f98f0;
}

.contact .conekt .knopka {
  margin-top: 25px;
  margin-bottom: 10px;
  height: 30px;
  background: #1f98f0;
  color: #fff;
  border: none;
  text-transform: uppercase;
  outline: none;
}

.contact .mymap {
  height: 500px;
  padding: 0px;
}

/*============= КОНЕЦ ===========*/
/* ==============ПОДВАЛ============= */
.footer {
  background-color: black;
  height: 60px;
}

.footer h3 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  margin: 0;
  vertical-align: middle;
}

/*============= КОНЕЦ ===========*/
/*============ ВСПОМОГАТЕЛЬНЫЙ БЛОК ================*/
.slider {
  background: #2c2929;
  padding: 0px 0;
}

.slider .sl2 {
  padding: 0px;
}

.slider .sl2 .sl_slide {
  position: relative;
  height: 400px;
  width: 100%;
}

.slider .sl2 .sl_slide img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slider .sl2 .sl_slide h3 {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50%;
  margin-bottom: 0;
  bottom: 0px;
  padding: 30px;
  width: 10%;
}

/* ============ МОДАЛЬНОЕ (ОКНО ОБЫЧНОЕ) ===========*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.modal-content {
  position: fixed;
  top: 200px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #2c2929;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  height: 40px;
  background-color: #1f98f0;
  color: white;
  padding: 0 10px;
}

.modal-body {
  padding: 2px 16px;
  color: #fff;
}

.modal-footer {
  height: 40px;
  background-color: #1f98f0;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 200px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ============== МОДАЛЬНОЕ ОКНО ГАЛЛЕРЕИ =================  */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.modal-content2 {
  position: fixed;
  top: 80px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #2c2929;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: slideIn1;
          animation-name: slideIn1;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  height: 40px;
  background-color: #1f98f0;
  color: white;
  padding: 0 10px;
}

.modal-body {
  color: #fff;
}

.modal-footer {
  height: 40px;
  background-color: #1f98f0;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 100px;
    opacity: 1;
  }
}

@-webkit-keyframes slideIn1 {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@keyframes slideIn1 {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ============== ПРЕЛОАДЕР =================  */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #1f98f0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: animatebottom;
          animation-name: animatebottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: 0px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#wrap {
  height: 100%;
  width: 100%;
  display: none;
}

/* ============== ВРАЩАЮЩИЕСЯ КАРТОЧКИ ОТЗЫВОВ =================  */
.d3 {
  height: 100%;
  -webkit-perspective: 2500px;
          perspective: 2500px;
}

.d3:hover .rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.d3 .rotate {
  position: relative;
  height: 100%;
  background-color: #2c2929;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: 0.6s;
  border: 4px solid #1f98f0;
}

.d3 .rotate .log {
  border: 4px solid #1f98f0;
  border-radius: 50%;
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: 150px;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.d3 .rotate .log img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.d3 .rotate h3 {
  position: absolute;
  text-align: center;
  color: #fff;
  height: 50%;
  margin-bottom: 0;
  bottom: 0px;
  padding: 30px;
  width: 100%;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.d3 .rotate .te {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.d3 .rotate .te p {
  color: #fff;
  padding-top: 50%;
}

.main_menu {
  width: 100%;
  background-color: #2c2929;
  z-index: 9999;
  position: fixed;
  top: 60px;
  display: none;
}

.main_menu a {
  line-height: 40px;
  height: 40px;
  width: 100%;
  display: block;
  float: left;
  border-bottom: 4px solid #1f98f0;
  text-transform: uppercase;
  text-align: center;
}

.main_menu a:hover {
  background-color: #1f98f0;
  color: #fff;
}

/* ============== ЗАТЕМНЕНИЕ КАРТЫ =================  */
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}
