@charset "UTF-8";
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1440px) {
  /*========== header ==========*/
  /* line 7, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  h1 {
    margin-top: 10%;
    min-height: 57px;
    font-size: 40px; }
  /* line 12, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  p {
    font-size: 13px; }
  /* line 17, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .button1 {
    margin-top: 5%;
    height: 50px;
    float: left;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background: #1f98f0;
    border: none;
    color: #fff;
    text-transform: uppercase; }
    /* line 29, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
    .button1:hover {
      background: #0f89e2; }
  /*========== about ==========*/
  /* line 37, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .fa-desktop, .fa-cogs, .fa-code-fork {
    margin: 45px 0px 0px 44%; } }

@media only screen and (max-width: 1200px) {
  /*========== header ==========*/
  /* line 45, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  h1 {
    margin-top: 10%;
    min-height: 57px;
    font-size: 40px; }
  /* line 51, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  p {
    font-size: 13px; }
  /* line 57, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .button1 {
    margin-top: 5%;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background: #1f98f0;
    border: none;
    color: #fff;
    text-transform: uppercase; }
    /* line 68, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
    .button1:hover {
      background: #0f89e2; }
  /*========== about ==========*/
  /* line 76, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .fa-desktop, .fa-cogs, .fa-code-fork {
    margin: 45px 0px 0px 40%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 82, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  h1 {
    margin-top: 10%;
    min-height: 45px;
    font-size: 32px; }
  /* line 88, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  p {
    font-size: 13px; }
  /* line 93, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .button1 {
    width: 250px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background: #1f98f0;
    border: none;
    color: #fff;
    text-transform: uppercase; }
    /* line 103, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
    .button1:hover {
      background: #0f89e2; }
  /*========== about ==========*/
  /* line 111, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .fa-desktop, .fa-cogs, .fa-code-fork {
    margin: 45px 0px 0px 43%; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 118, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .b-img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  /* line 126, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  h1 {
    margin-top: 10%;
    min-height: 45px;
    font-size: 32px; }
  /* line 132, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .cont p {
    font-size: 13px; }
  /* line 137, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .button1 {
    width: 200px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background: #1f98f0;
    color: #fff;
    text-transform: uppercase; }
    /* line 146, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
    .button1:hover {
      background: #0f89e2; }
  /*========== about ==========*/
  /* line 153, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .fa-desktop, .fa-cogs, .fa-code-fork {
    margin: 45px 0px 0px 45%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 159, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  h1 {
    margin-top: 25%;
    min-height: 40px;
    font-size: 28px; }
  /* line 164, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  p {
    width: 100%;
    font-size: 12px; }
  /* line 168, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .button1 {
    width: 100px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    background: #1f98f0;
    color: #fff;
    text-transform: uppercase; }
    /* line 177, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
    .button1:hover {
      background: #0f89e2; }
  /* line 182, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .slider .sl2 .sl_slide {
    height: 200px !important;
    padding: 0px !important; }
  /* line 187, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .modal-body {
    padding: 0px !important; }
  /* line 191, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .wow {
    animation-name: none !important; }
  /*========== about ==========*/
  /* line 197, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .fa-desktop, .fa-cogs, .fa-code-fork {
    margin: 45px 0px 0px 42%; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 355px) {
  /* line 203, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .fa-bars {
    margin-right: 8px;
    margin-top: 23px; }
  /* line 208, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  h1 {
    margin-top: 25%;
    min-height: 22px;
    font-size: 16px; }
  /* line 213, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  p {
    width: 100%;
    font-size: 12px; }
  /* line 217, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .button1 {
    width: 100px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    background: #1f98f0;
    color: #fff;
    text-transform: uppercase; }
    /* line 226, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
    .button1:hover {
      background: #0f89e2; }
  /* line 231, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .wow {
    animation-name: none !important; }
  /* line 235, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .slider .sl2 .sl_slide {
    height: 200px !important;
    padding: 0px !important; }
  /* line 239, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .modal-body {
    padding: 0px !important; }
  /*========== about ==========*/
  /* line 245, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .fa-desktop, .fa-cogs, .fa-code-fork {
    margin: 45px 0px 0px 40%; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 272, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  h1 {
    margin-top: 10%;
    min-height: 57px;
    font-size: 40px; }
  /* line 277, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  p {
    font-size: 13px; }
  /* line 282, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .button1 {
    margin-top: 5%;
    height: 50px;
    float: left;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background: #1f98f0;
    border: none;
    color: #fff;
    text-transform: uppercase; }
    /* line 294, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
    .button1:hover {
      background: #0f89e2; }
  /*========== about ==========*/
  /* line 302, C:/Users/Администратор/Desktop/modelist.web/sass/media.scss */
  .fa-desktop, .fa-cogs, .fa-code-fork {
    margin: 45px 0px 0px 44%; } }

/*# sourceMappingURL=media.css.map */