/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px) {
	
	/*========== header ==========*/
		h1{
			margin-top: 10%;
    		min-height: 57px;
    		font-size: 40px;
		}
		p{
			
			font-size: 13px;
		}
	
	.button1{
		margin-top: 5%;
		height: 50px;
		float: left;
		display: inline-block;
		text-align: center;
		line-height: 50px;
		background: #1f98f0;
		border: none;
		color: #fff;
		text-transform: uppercase;
		
		&:hover{
			background: #0f89e2;
		}
	}

	
	/*========== about ==========*/
	
	.fa-desktop,.fa-cogs,.fa-code-fork{
		margin: 45px 0px 0px 44%;
	}
	
}
@media only screen and (max-width : 1200px){
	
	/*========== header ==========*/
		h1{
			margin-top: 10%;
    		min-height: 57px;
    		font-size: 40px;
		}
		
			p{
				
				font-size: 13px;
			}
		
	
	.button1{
		margin-top: 5%;
		height: 50px;
		display: inline-block;
		text-align: center;
		line-height: 50px;
		background: #1f98f0;
		border: none;
		color: #fff;
		text-transform: uppercase;
		
		&:hover{
			background: #0f89e2;
		}
	}
	
	
	/*========== about ==========*/
	
	.fa-desktop,.fa-cogs,.fa-code-fork{
		margin: 45px 0px 0px 40%;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
		h1{
			margin-top: 10%;
    		min-height: 45px;
    		font-size: 32px;
		}
		
			p{
				
				font-size: 13px;
			}
		
	.button1{
		width: 250px;
			height: 50px;
			display: inline-block;
			text-align: center;
			line-height: 50px;
			background: #1f98f0;
			border: none;
			color: #fff;
			text-transform: uppercase;
		&:hover{
			background: #0f89e2; 
		}
	}
	
	
	/*========== about ==========*/
	
	.fa-desktop,.fa-cogs,.fa-code-fork{
		margin: 45px 0px 0px 43%;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
		
		.b-img{
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		h1{
			margin-top: 10%;
    		min-height: 45px;
    		font-size: 32px;
		}
		.cont{
			p{
				
				font-size: 13px;
			}
		}
		.button1{
			width: 200px;
			height: 50px;
			display: inline-block;
			text-align: center;
			line-height: 50px;
			background: #1f98f0;
			color: #fff;
			text-transform: uppercase;
			&:hover{
				background: #0f89e2;
			}
		}
	
	/*========== about ==========*/
	
	.fa-desktop,.fa-cogs,.fa-code-fork{
		margin: 45px 0px 0px 45%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	h1{
		margin-top: 25%;
    	min-height: 40px;
    	font-size: 28px;
	}
	p{
		width: 100%;
		font-size: 12px;
	}
	.button1{
		width: 100px;
		height: 25px;	
		display: inline-block;
		text-align: center;
		line-height: 25px;
		background: #1f98f0;
		color: #fff;
		text-transform: uppercase;
		&:hover{
			background: #0f89e2; 
		}
	}
	
	.slider .sl2 .sl_slide{
		height: 200px !important;
		padding: 0px !important;
		}
	
	.modal-body{
		padding: 0px !important;
	}
	
	.wow{
    animation-name: none !important;
  }
	
	/*========== about ==========*/
	
	.fa-desktop,.fa-cogs,.fa-code-fork{
		margin: 45px 0px 0px 42%;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 355px) {
	.fa-bars{	
	margin-right: 8px;
	margin-top: 23px;
	}
	
	h1{
		margin-top: 25%;
    	min-height: 22px;
    	font-size: 16px;
	}
	p{
		width: 100%;
		font-size: 12px;
	}
	.button1{
		width: 100px;
		height: 25px;
		display: inline-block;
		text-align: center;
		line-height: 25px;
		background: #1f98f0;
		color: #fff;
		text-transform: uppercase;
		&:hover{
			background: #0f89e2;
		}
	} 
	
	.wow{
    animation-name: none !important;
		
  }
	.slider .sl2 .sl_slide{
		height: 200px !important;
		padding: 0px !important;
		}
	.modal-body{
		padding: 0px !important;
	}
	
	/*========== about ==========*/
	
	.fa-desktop,.fa-cogs,.fa-code-fork{
				margin: 45px 0px 0px 40%;
			}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	h1{
			margin-top: 10%;
    		min-height: 57px;
    		font-size: 40px;
		}
		p{
			
			font-size: 13px;
		}
	
	.button1{
		margin-top: 5%;
		height: 50px;
		float: left;
		display: inline-block;
		text-align: center;
		line-height: 50px;
		background: #1f98f0;
		border: none;
		color: #fff;
		text-transform: uppercase;
		
		&:hover{
			background: #0f89e2;
		}
	}

	
	/*========== about ==========*/
	
	.fa-desktop,.fa-cogs,.fa-code-fork{
		margin: 45px 0px 0px 44%;
	}
}