$blu: #1f98f0;
$dark: #2c2929;

html{
	background: $dark;
}

body{
	padding: 0px;
	margin: 0px;
	background: #fff;
}
a{
	  	color: #fff;
}

.b-img{
	display: none;
}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: bold;
}

h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	border-bottom: 4px solid black;
	margin-left: 50%;
    transform: translateX(-50%);
}

p{
	text-align: center;
	font-family: 'Pacifico', cursive;
	
}

a{
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: oblique;
}






#mouse{
   margin-top: 5em;
   display: inline-block;
   width:3.5em;
   height:6em;
   background-color:rgba(255,255,255,0);
   border-radius: 100px;
   border:2px solid white;
   margin-left: 50%;
   transform: translateX(-50%);
}
#wheel{
  margin-top:1em;
  margin-left:auto;
  margin-right:auto;
  width:0.75em;
  height:0.75em;
  background-color:white;
  border-radius: 50%;
}
.scroll2{
  opacity:0;
   margin-left:auto;
   margin-right:auto;
   width:0px;
   height:0px;
  border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-top: 0.4em solid white;
   -webkit-animation: down2 1s infinite;
   animation: down2 1s infinite;
}
.scroll3{
   opacity:0;
   margin-left:auto;
   margin-right:auto;
   width:0px;
   height:0px;
  border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-top: 0.4em solid white;
   -webkit-animation: down 1s infinite;
   animation: down 1s infinite;
}
.scroll{
  opacity:0;
  margin-left: auto;
  margin-right: auto;
   width:0px;
   height:0px;
  border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-top: 0.4em solid white;
   -webkit-animation: down3 1s infinite;
  animation: down3 1s infinite;
}


@keyframes down{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
    transform: translateY(2.3em);
  }
}

@keyframes down2{
  40%{
    opacity:0;
  }
  100%{
    opacity:0.5;
    transform: translateY(2.3em);
  }
}

@keyframes down3{
  60%{
    opacity:0;
  }
  100%{
    opacity:0.2;
    transform: translateY(2.3em);
  }
}




.cont-header{
			position: relative;
			.b-img{
				display: none;
			}
			@media only screen and (max-width : 768px){
				.b-img{
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
				}
			}	
				.span{
						width: 100%;
						height: 100%;
						background-color: rgba(0,0,0,0.4);
						position: absolute;
						top: 0px;
						.cont{
								position: absolute;
								height: 100%;
								width: 100%;
								h1{
									color: #fff;	
									text-transform: uppercase;
    								text-align: center;
								}
						
								p{
									display: block;
    								margin: 0 auto;
									color:#fff;
									text-align: center;
								}
							.button1{
									text-align: center;
									background: $blu;
									border: none;
									color: #fff;
									text-transform: uppercase;
									border-radius: 15px;
								    transition: .2s linear;
								    margin-left: 50%;
    								transform: translateX(-50%);
									&:hover{
										background: #0f89e2;
									}
								}
						}
				}
}

.blue{
	color: $blu;
	font-size: 25px;
	
}
.white{
	color: #fff;
	font-size: 25px;
}

.slog{
	position: absolute;
	top:4px;
	left: 70px;
	
}

.header{
	

	.l_img{
		width: 30px;
		height: 30px;
		transition: transform .3s linear;
		float: left;
	}
	
	&__nav{
		background-color: rgba(0,0,0,1.0);
    	height: 60px;
    	position: fixed;
    	z-index: 10;
    	width: 100%;
		&_logo {
			float: left; 
			margin-top: 20px;
			a:hover .l_img{
				-webkit-transform: rotateY(1turn);
				transform: rotateY(1turn);}
	}
	.fa-bars{
		float: right;
		font-size: 30px;
		color: #fff;
		margin-top: 23px;
		margin-right: 30px;
		&:hover{
			color: $blu;
			
		}
	}
	&_paginition{
		margin-top: 15px;
		a{
			
			display: inline-block;
			height: 35px;
			margin-left: 15px;
			float: right;
			text-align: center;
			text-transform: uppercase;
			line-height: 40px;
			transition:  .2s linear;
			
			font-size: 14px;
				&:hover { 
					border-bottom:3px solid $blu;
					color: #1f98f0;
				}
		
			}
		}
	}
}
.mPS2id-highlight{
	border-bottom:3px solid $blu;
	color: #1f98f0;
}


.about{
	height: 100%;
	.item{
		height: 400px;
		position: relative;
		margin-top: 25px;
		margin-bottom: 25px;
		display: inline-block;
		transition:  .4s linear;
		.fa-desktop,.fa-cogs,.fa-code-fork{
			font-size: 60px;
			color: $blu;
		}
		h3{
			text-align: center;
		}
		p{
			text-align: center;
		}
		a{
			left: 50%;
    		bottom: 20px;
			position: absolute;
			border-radius: 15px;
			text-transform: uppercase;
			display: block;
			text-align: center;
			line-height: 40px;
			color:#000;
			width: 120px;
			height: 40px;
			border: 1px solid $blu;
			transform: translateX(-50%);
			transition:  .2s linear;
			&:hover{
				background-color: $blu
			}
		}
		&:hover{
			background-color: #2c2929;
			h3{
				color:#fff;
			}
			p{
				color:#fff;
			}
			a{
				color:#fff;
			}
		}
	}
}

.team{
	height: 100%;
	background: $dark;
	padding: 30px 0;
	.wrapp-team{
		position:relative;
		.team-item1{
			height: 500px; 
			background: $dark; 
			float: left;  
			left: 0%;
			h3,p{
				text-align: center;
				color: #fff;
			}
			
		}
		.team-descr1{
			height:500px;
			position:absolute;
			left:0px;
			padding: 0;
			border: 6px solid $blu;
			.team-logo{
				width: 100%;
				height: 100%;
			}
			.soc{
				display: block;
				margin-left: 50%;
				margin-top: -40px;
				transform: translateX(-50%);
				text-align: center;
				width: 100%;
				height: 40px;
				
				background-color: $dark;
				opacity: 0;
				transition:  .3s ease;
				a{
					margin: 0 15px;
					.fa{
						line-height: 40px;
						font-size: 25px;
						&:hover{
							color: #000;
						}
					}
				}
			}
			&:hover .soc{
					background-color: $blu;
					opacity: 1;
					}
		}
		.team-item2{
			height:500px; 
			background: $dark;
			float: right;
			margin-top:500px; 
			right: 0%;
			h3,p{
				text-align: center;
				color: #fff;
			}
			
		}
		.team-descr2{
			height:500px;
			position:absolute;
			top:500px;
			right:0px;
			padding: 0;
			border: 6px solid $blu;
			.team-logo{
				width: 100%;
				height: 100%;	
			}
			.soc{
				display: block;
				margin-left: 50%;
				margin-top: -40px;
				transform: translateX(-50%);
				text-align: center;
				width: 100%;
				height: 40px;
				
				background-color: $dark;
				opacity: 0;
				transition:  .3s ease;
				a{
					margin: 0 15px;
					.fa{
						line-height: 40px;
						font-size: 25px;
						&:hover{
							color: #000;
						}
					}
				}
			}
			&:hover .soc{
					background-color: $blu;
					opacity: 1;
					}
		}
		.team-item3{
			height: 500px; 
			background: $dark; 
			float: left;
			margin-top:500px;
			left: 0px;
			h3,p{
				text-align: center;
				color: #fff;
			}
			
		}
		.team-descr3{
			height:500px;
			position:absolute;
			top:1000px;
			left:0px;
			padding: 0;
			border: 6px solid $blu;
			.team-logo{
				width: 100%;
				height: 100%;
			}
			.soc{
				display: block;
				margin-left: 50%;
				margin-top: -40px;
				transform: translateX(-50%);
				text-align: center;
				width: 100%;
				height: 40px;
				
				background-color: $dark;
				opacity: 0;
				transition:  .3s ease;
				a{
					margin: 0 15px;
					.fa{
						line-height: 40px;
						font-size: 25px;
						&:hover{
							color: #000;
						}
					}
				}
			}
			&:hover .soc{
					background-color: $blu;
					opacity: 1;
					}
		}
			.team-item4{
			height: 500px; 
			background: $dark; 
			float: right;
			margin-top:500px;
			right: 0px;
			h3,p{
				text-align: center;
				color: #fff;
			}
		}
	
		.team-descr4{
			height:500px;
			position:absolute;
			top:1500px;
			right:0px;
			padding: 0;
			border: 6px solid $blu;
			.team-logo{
				width: 100%;
				height: 100%;
			}
			.soc{
				display: block;
				margin-left: 50%;
				margin-top: -40px;
				transform: translateX(-50%);
				text-align: center;
				width: 100%;
				height: 40px;
				
				background-color: $dark;
				opacity: 0;
				transition:  .3s ease;
				a{
					margin: 0 15px;
					.fa{
						line-height: 40px;
						font-size: 25px;
						&:hover{
							color: #000;
						}
					}
				}
			}
			&:hover .soc{
					background-color: $blu;
					opacity: 1;
					}
		}
		
	}
	.m_team{
		padding: 0;
			.m_item1{
				img{
					width: 100%;
					height: 100%;
				}
			}
			.m_descr1{
				background: #2c2929;
				position: relative;
				padding: 5px 0;
				h3,p{
					text-align: center;
					color: #fff;
				}
			}
			.m_item2{
				img{
					width: 100%;
					height: 100%;
				}
			}
			.m_descr2{
				background: #2c2929;
				padding: 5px 0;
				h3,p{
					text-align: center;
					color: #fff;
				}
			}
			.m_item3{
				img{
					width: 100%;
					height: 100%;
				}
			}
			.m_descr3{
				background: #2c2929;
				padding: 5px 0;
				h3,p{
					text-align: center;
					color: #fff;
				}
			}
			.m_item4{
				img{
					width: 100%;
					height: 100%;
				}
			}
			.m_descr4{
				background: #2c2929;
				padding: 5px 0;
				h3,p{
					text-align: center;
					color: #fff;
				}
			}
	}
}

.portfolio{
		height: 100%;
		width: 100%;
		background-color: #2c2929;
		clear: both;
		padding: 30px 0;
	
	.portfoloi_block{
		padding: 0;
		position: relative;
    	overflow: hidden;
		&:hover img{
				transform: scale(1.3);
			}
		&:hover .descr{
    		opacity: 1;
    		top: 0%; 
		}
		.i_item{
			-webkit-transition: 1s ease;
			transition: 1s ease;
			width: 100%;
		}
		.descr{
			position: absolute;
			left: 0px;
			width: 100%;
			height: 100%;
			background-color: rgba(32, 110, 216, 0.74);
			padding-top: 50px;
			text-align: center;
			box-sizing: border-box;
			opacity: 0;
			top: 100%;
			-webkit-transition: all .9s;
			-webkit-transition: all .9s;
			transition: all .9s;
			&:hover .i_item{
				-webkit-transition: 1s ease;
				transition: 1s ease;
			}
			
			h3{
				color: #fff;
			}
			p{
				color: #fff;
			}
			a{
				width: 100px;
				height: 30px;
				line-height: 30px;
				display: block;
				color:#fff;
				text-transform: uppercase;
				border: 1px solid #fff;
				border-radius: 15px;
				margin: 0 auto;
				margin-top: 10%;
				transition:  .2s linear;
				&:hover{
					background-color: #fff;
					color: #000;
				}
			}
		}
	}
}


.portfoloi_block img{
	height: 250px;
	padding: 0px;
}

.preimusestva{
	height: 100%;
	.slider{
		background: $dark;
		padding: 30px 0;
		.sl{
			padding: 0px;
			.sl_slide{
					position: relative;
					height: 550px;
					width: 100%;
				img{
					position: absolute;
					height: 100%;
					width: 100%;
				}
				h3{
					position: absolute;
					color: #fff;
					text-align: center;
					background-color: rgba(0,0,0,0.6);
					height: 50%;
					margin-bottom: 0;
					bottom: 0px;
					padding: 30px;
					width: 100%;

				}

			}
		}
	}
}

.subskribe{
	width: 100%;
	height: 100%;
	background-color: #2c2929;
	padding: 30px 0;
	.input{
		margin-top: 10px;
		margin-bottom: 10px;
		height: 30px;
		outline: none;
		border: none;
		background: none;
		text-transform: uppercase;
		color: #fff;
		border-bottom: 4px solid #fff;
		&:focus{
			border-bottom: 4px solid $blu;
		}
	}
	.knopka{
		margin-top: 10px;
		margin-bottom: 10px;
		height: 30px;
		background: $blu;
		color: #fff;
		border: none;
		text-transform: uppercase;
		outline: none;
	}
}

.suggestion-max{
	height: 100%;
	background: $dark;
	.tabs{
		 margin: 0;
    	padding: 0;
    	list-style: none;
    	overflow: hidden;
			li{
				min-height: 46px;
				padding: 0;
    			float: left;
				
				&:hover{
						
						border-bottom: 4px solid #fff;
					}
				a{
					display: block;
    				padding: 10px 20px;
    				font-size: 16px;
    				text-align: center;
    				text-decoration: none;
					color: #fff;
					text-transform: uppercase;
				}
				
		}
	}
}

  .active{
		border-bottom: 4px solid $blu;
	  	a{
	  	color: #fff;
	  	}
		&:hover{
			border-bottom: 4px solid $blu !important;
		}
}

.tab_container{
	height: 100%;
		.tab_content{
			
				.tab-logo{
					padding: 40px 0;
				}
				.tab-deskr{
					padding: 40px 0;
					p{
						color: #fff;
						text-align: left;
					}
					color: #fff;
						.tab-link{
							width: 120px;
							height: 35px;
							display: block;
							line-height: 35px;
							text-align: center;
							background: transparent;
							border-radius: 15px;
							border: 1px solid $blu;
							text-transform: uppercase;
							color: #fff;
							transition:  .2s linear;
							margin-top: 10%;
							&:hover{
								background: $blu;
								
							}
					}
				} 
		}
}
.open{
	background-color: $blu !important;
}

 
.suggestion-min{
	.acr{
		.acr__item{
			.acr-title{
			    width: 100%;
				height: 40px;
				line-height: 40px;
    			display: block;
    			text-align: center;
    			background-color: $dark;
				color: #fff;
				
				&:hover{
					background-color: $blu;
				}
				
			}
			.acr-content{
				display: none;
				background-color: $dark;
				width: 100%;
				img{
					width: 100%;
				}
				p{
					text-align: center;
					margin: 0;
					padding: 30px 15px;
					color: #fff;
				}
				a{
					width: 120px;
					height: 35px;
					display: block;
					line-height: 35px;
					text-align: center;
					background: transparent;
					border-radius: 15px;
					border: 1px solid $blu;
					text-transform: uppercase;
					color: #fff;
					transition:  .2s linear;
					margin-left: 50%;
					transform: translateX(-50%);
					&:hover{
						background: $blu;								
						}
				}
			}
		}
	}
}







/*=============== ОТЗЫВЫ ===============*/
.otzyvy{
	height: 100%;
	.slider{
		background: $dark;
		padding: 30px 0;
		.sl1{
			padding: 0px;
			.sl_slide{
					position: relative;
					height: 400px;
					width: 100%;
				img{
					position: absolute;
					height: 100%;
					width: 100%;
				}
				h3{
					position: absolute;
    				text-align: center;
    				color: #fff;
   					height: 50%;
    				margin-bottom: 0;
    				bottom: 0px;
    				padding: 30px;
    				width: 100%;
    			text-transform: uppercase;
				}

			}
		}

	}
}

.otzivy-min{
	background-color: $dark;
	.rotate{
		position: relative;
		height: 400px;
		background-color: $dark;
		transform-style: preserve-3d;
		transition: 0.6s;
		border-top: 2px solid $blu;
		border-bottom: 2px solid $blu;
		.log{
			border: 4px solid $blu;
			border-radius: 50%;
			position: absolute;
			margin: 0 auto;
			top:50px;
			left: 50%;
			transform: translateX(-50%);
			width: 150px;
			height: 150px;
			vertical-align: middle;
			backface-visibility: hidden;
			img{
				border-radius: 100px; 
				width: 100%;
				height: 100%;
			} 
		}
		h3{
			position: absolute;
    		text-align: center;
    		color: #fff;
   			height: 50%;
    		margin-bottom: 0;
    		bottom: 0px;
    		padding: 30px;
    		width: 100%;
    		text-transform: uppercase;
		}
		p{
			color: #fff;
			position: absolute;
			bottom: 0px;
		}
		
	}
}
/*============= КОНЕЦ ===========*/


/*============= КОНТАКТЫ ===========*/

.contact{
	height: 100%;
	background-color: $dark;
	.conekt{
		a{
			text-align: center;
			&:hover .fa{color: #1f98f0;}
		}
		.fa{
			padding: 0px;
			color: #fff;
			font-size: 35px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.input{
			margin-top: 25px;
			margin-bottom: 25px;
			height: 30px;
			outline: none;
			border: none;
			background: none;
			text-transform: uppercase;
			color: #fff;
			border-bottom: 4px solid #fff;
			&:focus{
				border-bottom: 4px solid $blu;
			}
		}
		
		.knopka{
			margin-top: 25px;
			margin-bottom: 10px;
			height: 30px;
			background: $blu;
			color: #fff;
			border: none;
			text-transform: uppercase;
			outline: none;
		}
	}
	.mymap{
		height: 500px;
		padding: 0px;
	}
}

/*============= КОНЕЦ ===========*/


/* ==============ПОДВАЛ============= */


.footer{
	background-color: black;
    height: 60px;
	h3{
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		border: none;
		margin: 0;
		vertical-align: middle;
	}
}

/*============= КОНЕЦ ===========*/




/*============ ВСПОМОГАТЕЛЬНЫЙ БЛОК ================*/

.slider{
	background: $dark;
	padding: 0px 0;
	.sl2{
		padding: 0px;
		.sl_slide{
				position: relative;
				height: 400px;
				width: 100%;
			img{
				position: absolute;
				height: 100%;
				width: 100%;
				
			}
			h3{
				position: absolute;
				color: #fff;
				background-color: rgba(0,0,0,0.6);
				height: 50%;
				margin-bottom: 0;
				bottom: 0px;
				padding: 30px;
				width: 10%;
				
			}
			
		}
	}
	
}
 



/* ============ МОДАЛЬНОЕ (ОКНО ОБЫЧНОЕ) ===========*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}


.modal-content {
    position: fixed;
    top: 200px;
	padding-left: 0px;
	padding-right: 0px;
    background-color: $dark;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    height: 40px;
    background-color: $blu;
    color: white;
	padding: 0 10px;
}

.modal-body {
	padding: 2px 16px;
	color: #fff;
}

.modal-footer {
    height: 40px;
    background-color: $blu;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {top: 50px; opacity: 0}
    to {top: 200px; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}






/* ============== МОДАЛЬНОЕ ОКНО ГАЛЛЕРЕИ =================  */
.modal2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}


.modal-content2 {
    position: fixed;
    top: 80px;
	padding-left: 0px;
	padding-right: 0px;
    background-color: $dark;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn1;
    animation-duration: 0.4s
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    height: 40px;
    background-color: $blu;
    color: white;
	padding: 0 10px;
}

.modal-body {
	
	color: #fff;
}

.modal-footer {
    height: 40px;
    background-color: $blu;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {top: 50px; opacity: 0} 
    to {top: 100px; opacity: 1}
}

@keyframes slideIn1 {
    from {top: 0px; opacity: 0}
    to {top: 80px; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}



/* ============== ПРЕЛОАДЕР =================  */


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid $blu;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s;

}

@-webkit-keyframes animatebottom {
  from { bottom:0px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ top:0px; opacity:0 } 
  to{ top:0; opacity:1 }
}


		
#wrap{
	height: 100%;
	width: 100%;
	display: none;
}



/* ============== ВРАЩАЮЩИЕСЯ КАРТОЧКИ ОТЗЫВОВ =================  */

.d3{
	height: 100%;
	perspective: 2500px;
	
	&:hover .rotate{
		transform: rotateY(180deg)
	}

	.rotate{
		position: relative;
		height: 100%;
		background-color: $dark;
		transform-style: preserve-3d;
		transition: 0.6s;
		border: 4px solid $blu;
		.log{
			border: 4px solid $blu;
			border-radius: 50%;
			position: absolute;
			margin: 0 auto;
			top:50px;
			left: 50%;
			transform: translateX(-50%);
			width: 150px;
			height: 150px;
			vertical-align: middle;
			backface-visibility: hidden;
			img{
				border-radius: 100px; 
				width: 100%;
				height: 100%;
			}	
		}
		h3{
			position: absolute;
    text-align: center;
    color: #fff;
    height: 50%;
    margin-bottom: 0;
    bottom: 0px;
    padding: 30px;
    width: 100%;
    text-transform: uppercase;
			backface-visibility: hidden; 
		}
		.te{
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			backface-visibility: hidden;
			transform: rotateY(180deg);
			p{
				color: #fff;
				padding-top: 50%;
			}
		}
	}

}

.main_menu{
	width: 100%;
	
	background-color: $dark;
	z-index: 9999;
	position: fixed;
	top: 60px;
	display: none; 
	
	a{
		
		line-height: 40px;
		height: 40px;
		width: 100%;
		display: block;
		float: left;
		border-bottom: 4px solid $blu; 
		text-transform: uppercase;
		text-align: center;
		&:hover{
			background-color: $blu;
			color: #fff;
		}
	}



}
/* ============== ЗАТЕМНЕНИЕ КАРТЫ =================  */

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
}