@charset "UTF-8";
/* line 4, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
html {
  background: #2c2929; }

/* line 8, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
body {
  padding: 0px;
  margin: 0px;
  background: #fff; }

/* line 13, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
a {
  color: #fff; }

/* line 17, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.b-img {
  display: none; }

/* line 21, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: bold; }

/* line 26, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border-bottom: 4px solid black;
  margin-left: 50%;
  transform: translateX(-50%); }

/* line 37, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
p {
  text-align: center;
  font-family: 'Pacifico', cursive; }

/* line 43, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: oblique; }

/* line 53, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
#mouse {
  margin-top: 5em;
  display: inline-block;
  width: 3.5em;
  height: 6em;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100px;
  border: 2px solid white;
  margin-left: 50%;
  transform: translateX(-50%); }

/* line 64, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
#wheel {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 0.75em;
  height: 0.75em;
  background-color: white;
  border-radius: 50%; }

/* line 73, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.scroll2 {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  height: 0px;
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-top: 0.4em solid white;
  -webkit-animation: down2 1s infinite;
  animation: down2 1s infinite; }

/* line 85, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.scroll3 {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  height: 0px;
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-top: 0.4em solid white;
  -webkit-animation: down 1s infinite;
  animation: down 1s infinite; }

/* line 97, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.scroll {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  height: 0px;
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid transparent;
  border-top: 0.4em solid white;
  -webkit-animation: down3 1s infinite;
  animation: down3 1s infinite; }

@keyframes down {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(2.3em); } }

@keyframes down2 {
  40% {
    opacity: 0; }
  100% {
    opacity: 0.5;
    transform: translateY(2.3em); } }

@keyframes down3 {
  60% {
    opacity: 0; }
  100% {
    opacity: 0.2;
    transform: translateY(2.3em); } }

/* line 144, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.cont-header {
  position: relative; }
  /* line 146, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .cont-header .b-img {
    display: none; }
  @media only screen and (max-width: 768px) {
    /* line 150, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .cont-header .b-img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; } }
  /* line 159, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .cont-header .span {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px; }
    /* line 165, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .cont-header .span .cont {
      position: absolute;
      height: 100%;
      width: 100%; }
      /* line 169, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .cont-header .span .cont h1 {
        color: #fff;
        text-transform: uppercase;
        text-align: center; }
      /* line 175, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .cont-header .span .cont p {
        display: block;
        margin: 0 auto;
        color: #fff;
        text-align: center; }
      /* line 181, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .cont-header .span .cont .button1 {
        text-align: center;
        background: #1f98f0;
        border: none;
        color: #fff;
        text-transform: uppercase;
        border-radius: 15px;
        transition: .2s linear;
        margin-left: 50%;
        transform: translateX(-50%); }
        /* line 191, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .cont-header .span .cont .button1:hover {
          background: #0f89e2; }

/* line 199, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.blue {
  color: #1f98f0;
  font-size: 25px; }

/* line 204, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.white {
  color: #fff;
  font-size: 25px; }

/* line 209, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.slog {
  position: absolute;
  top: 4px;
  left: 70px; }

/* line 219, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.header .l_img {
  width: 30px;
  height: 30px;
  transition: transform .3s linear;
  float: left; }

/* line 226, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.header__nav {
  background-color: black;
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 100%; }
  /* line 232, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .header__nav_logo {
    float: left;
    margin-top: 20px; }
    /* line 235, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .header__nav_logo a:hover .l_img {
      -webkit-transform: rotateY(1turn);
      transform: rotateY(1turn); }
  /* line 239, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .header__nav .fa-bars {
    float: right;
    font-size: 30px;
    color: #fff;
    margin-top: 23px;
    margin-right: 30px; }
    /* line 245, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .header__nav .fa-bars:hover {
      color: #1f98f0; }
  /* line 250, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .header__nav_paginition {
    margin-top: 15px; }
    /* line 252, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .header__nav_paginition a {
      display: inline-block;
      height: 35px;
      margin-left: 15px;
      float: right;
      text-align: center;
      text-transform: uppercase;
      line-height: 40px;
      transition: .2s linear;
      font-size: 14px; }
      /* line 264, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .header__nav_paginition a:hover {
        border-bottom: 3px solid #1f98f0;
        color: #1f98f0; }

/* line 273, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.mPS2id-highlight {
  border-bottom: 3px solid #1f98f0;
  color: #1f98f0; }

/* line 279, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.about {
  height: 100%; }
  /* line 281, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .about .item {
    height: 400px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
    transition: .4s linear; }
    /* line 288, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .about .item .fa-desktop, .about .item .fa-cogs, .about .item .fa-code-fork {
      font-size: 60px;
      color: #1f98f0; }
    /* line 292, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .about .item h3 {
      text-align: center; }
    /* line 295, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .about .item p {
      text-align: center; }
    /* line 298, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .about .item a {
      left: 50%;
      bottom: 20px;
      position: absolute;
      border-radius: 15px;
      text-transform: uppercase;
      display: block;
      text-align: center;
      line-height: 40px;
      color: #000;
      width: 120px;
      height: 40px;
      border: 1px solid #1f98f0;
      transform: translateX(-50%);
      transition: .2s linear; }
      /* line 313, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .about .item a:hover {
        background-color: #1f98f0; }
    /* line 317, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .about .item:hover {
      background-color: #2c2929; }
      /* line 319, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .about .item:hover h3 {
        color: #fff; }
      /* line 322, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .about .item:hover p {
        color: #fff; }
      /* line 325, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .about .item:hover a {
        color: #fff; }

/* line 332, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.team {
  height: 100%;
  background: #2c2929;
  padding: 30px 0; }
  /* line 336, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .team .wrapp-team {
    position: relative; }
    /* line 338, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .wrapp-team .team-item1 {
      height: 500px;
      background: #2c2929;
      float: left;
      left: 0%; }
      /* line 343, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-item1 h3, .team .wrapp-team .team-item1 p {
        text-align: center;
        color: #fff; }
    /* line 349, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .wrapp-team .team-descr1 {
      height: 500px;
      position: absolute;
      left: 0px;
      padding: 0;
      border: 6px solid #1f98f0; }
      /* line 355, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr1 .team-logo {
        width: 100%;
        height: 100%; }
      /* line 359, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr1 .soc {
        display: block;
        margin-left: 50%;
        margin-top: -40px;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: #2c2929;
        opacity: 0;
        transition: .3s ease; }
        /* line 371, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .team .wrapp-team .team-descr1 .soc a {
          margin: 0 15px; }
          /* line 373, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
          .team .wrapp-team .team-descr1 .soc a .fa {
            line-height: 40px;
            font-size: 25px; }
            /* line 376, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
            .team .wrapp-team .team-descr1 .soc a .fa:hover {
              color: #000; }
      /* line 382, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr1:hover .soc {
        background-color: #1f98f0;
        opacity: 1; }
    /* line 387, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .wrapp-team .team-item2 {
      height: 500px;
      background: #2c2929;
      float: right;
      margin-top: 500px;
      right: 0%; }
      /* line 393, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-item2 h3, .team .wrapp-team .team-item2 p {
        text-align: center;
        color: #fff; }
    /* line 399, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .wrapp-team .team-descr2 {
      height: 500px;
      position: absolute;
      top: 500px;
      right: 0px;
      padding: 0;
      border: 6px solid #1f98f0; }
      /* line 406, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr2 .team-logo {
        width: 100%;
        height: 100%; }
      /* line 410, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr2 .soc {
        display: block;
        margin-left: 50%;
        margin-top: -40px;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: #2c2929;
        opacity: 0;
        transition: .3s ease; }
        /* line 422, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .team .wrapp-team .team-descr2 .soc a {
          margin: 0 15px; }
          /* line 424, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
          .team .wrapp-team .team-descr2 .soc a .fa {
            line-height: 40px;
            font-size: 25px; }
            /* line 427, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
            .team .wrapp-team .team-descr2 .soc a .fa:hover {
              color: #000; }
      /* line 433, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr2:hover .soc {
        background-color: #1f98f0;
        opacity: 1; }
    /* line 438, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .wrapp-team .team-item3 {
      height: 500px;
      background: #2c2929;
      float: left;
      margin-top: 500px;
      left: 0px; }
      /* line 444, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-item3 h3, .team .wrapp-team .team-item3 p {
        text-align: center;
        color: #fff; }
    /* line 450, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .wrapp-team .team-descr3 {
      height: 500px;
      position: absolute;
      top: 1000px;
      left: 0px;
      padding: 0;
      border: 6px solid #1f98f0; }
      /* line 457, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr3 .team-logo {
        width: 100%;
        height: 100%; }
      /* line 461, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr3 .soc {
        display: block;
        margin-left: 50%;
        margin-top: -40px;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: #2c2929;
        opacity: 0;
        transition: .3s ease; }
        /* line 473, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .team .wrapp-team .team-descr3 .soc a {
          margin: 0 15px; }
          /* line 475, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
          .team .wrapp-team .team-descr3 .soc a .fa {
            line-height: 40px;
            font-size: 25px; }
            /* line 478, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
            .team .wrapp-team .team-descr3 .soc a .fa:hover {
              color: #000; }
      /* line 484, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr3:hover .soc {
        background-color: #1f98f0;
        opacity: 1; }
    /* line 489, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .wrapp-team .team-item4 {
      height: 500px;
      background: #2c2929;
      float: right;
      margin-top: 500px;
      right: 0px; }
      /* line 495, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-item4 h3, .team .wrapp-team .team-item4 p {
        text-align: center;
        color: #fff; }
    /* line 501, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .wrapp-team .team-descr4 {
      height: 500px;
      position: absolute;
      top: 1500px;
      right: 0px;
      padding: 0;
      border: 6px solid #1f98f0; }
      /* line 508, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr4 .team-logo {
        width: 100%;
        height: 100%; }
      /* line 512, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr4 .soc {
        display: block;
        margin-left: 50%;
        margin-top: -40px;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: #2c2929;
        opacity: 0;
        transition: .3s ease; }
        /* line 524, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .team .wrapp-team .team-descr4 .soc a {
          margin: 0 15px; }
          /* line 526, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
          .team .wrapp-team .team-descr4 .soc a .fa {
            line-height: 40px;
            font-size: 25px; }
            /* line 529, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
            .team .wrapp-team .team-descr4 .soc a .fa:hover {
              color: #000; }
      /* line 535, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .wrapp-team .team-descr4:hover .soc {
        background-color: #1f98f0;
        opacity: 1; }
  /* line 542, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .team .m_team {
    padding: 0; }
    /* line 545, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .m_team .m_item1 img {
      width: 100%;
      height: 100%; }
    /* line 550, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .m_team .m_descr1 {
      background: #2c2929;
      position: relative;
      padding: 5px 0; }
      /* line 554, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .m_team .m_descr1 h3, .team .m_team .m_descr1 p {
        text-align: center;
        color: #fff; }
    /* line 560, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .m_team .m_item2 img {
      width: 100%;
      height: 100%; }
    /* line 565, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .m_team .m_descr2 {
      background: #2c2929;
      padding: 5px 0; }
      /* line 568, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .m_team .m_descr2 h3, .team .m_team .m_descr2 p {
        text-align: center;
        color: #fff; }
    /* line 574, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .m_team .m_item3 img {
      width: 100%;
      height: 100%; }
    /* line 579, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .m_team .m_descr3 {
      background: #2c2929;
      padding: 5px 0; }
      /* line 582, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .m_team .m_descr3 h3, .team .m_team .m_descr3 p {
        text-align: center;
        color: #fff; }
    /* line 588, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .m_team .m_item4 img {
      width: 100%;
      height: 100%; }
    /* line 593, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .team .m_team .m_descr4 {
      background: #2c2929;
      padding: 5px 0; }
      /* line 596, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .team .m_team .m_descr4 h3, .team .m_team .m_descr4 p {
        text-align: center;
        color: #fff; }

/* line 604, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.portfolio {
  height: 100%;
  width: 100%;
  background-color: #2c2929;
  clear: both;
  padding: 30px 0; }
  /* line 611, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .portfolio .portfoloi_block {
    padding: 0;
    position: relative;
    overflow: hidden; }
    /* line 615, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .portfolio .portfoloi_block:hover img {
      transform: scale(1.3); }
    /* line 618, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .portfolio .portfoloi_block:hover .descr {
      opacity: 1;
      top: 0%; }
    /* line 622, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .portfolio .portfoloi_block .i_item {
      -webkit-transition: 1s ease;
      transition: 1s ease;
      width: 100%; }
    /* line 627, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .portfolio .portfoloi_block .descr {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(32, 110, 216, 0.74);
      padding-top: 50px;
      text-align: center;
      box-sizing: border-box;
      opacity: 0;
      top: 100%;
      -webkit-transition: all .9s;
      -webkit-transition: all .9s;
      transition: all .9s; }
      /* line 641, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .portfolio .portfoloi_block .descr:hover .i_item {
        -webkit-transition: 1s ease;
        transition: 1s ease; }
      /* line 646, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .portfolio .portfoloi_block .descr h3 {
        color: #fff; }
      /* line 649, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .portfolio .portfoloi_block .descr p {
        color: #fff; }
      /* line 652, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .portfolio .portfoloi_block .descr a {
        width: 100px;
        height: 30px;
        line-height: 30px;
        display: block;
        color: #fff;
        text-transform: uppercase;
        border: 1px solid #fff;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 10%;
        transition: .2s linear; }
        /* line 664, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .portfolio .portfoloi_block .descr a:hover {
          background-color: #fff;
          color: #000; }

/* line 674, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.portfoloi_block img {
  height: 250px;
  padding: 0px; }

/* line 679, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.preimusestva {
  height: 100%; }
  /* line 681, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .preimusestva .slider {
    background: #2c2929;
    padding: 30px 0; }
    /* line 684, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .preimusestva .slider .sl {
      padding: 0px; }
      /* line 686, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .preimusestva .slider .sl .sl_slide {
        position: relative;
        height: 550px;
        width: 100%; }
        /* line 690, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .preimusestva .slider .sl .sl_slide img {
          position: absolute;
          height: 100%;
          width: 100%; }
        /* line 695, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .preimusestva .slider .sl .sl_slide h3 {
          position: absolute;
          color: #fff;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.6);
          height: 50%;
          margin-bottom: 0;
          bottom: 0px;
          padding: 30px;
          width: 100%; }

/* line 713, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.subskribe {
  width: 100%;
  height: 100%;
  background-color: #2c2929;
  padding: 30px 0; }
  /* line 718, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .subskribe .input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 4px solid #fff; }
    /* line 728, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .subskribe .input:focus {
      border-bottom: 4px solid #1f98f0; }
  /* line 732, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .subskribe .knopka {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    background: #1f98f0;
    color: #fff;
    border: none;
    text-transform: uppercase;
    outline: none; }

/* line 744, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.suggestion-max {
  height: 100%;
  background: #2c2929; }
  /* line 747, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .suggestion-max .tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
    /* line 752, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .suggestion-max .tabs li {
      min-height: 46px;
      padding: 0;
      float: left; }
      /* line 757, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .suggestion-max .tabs li:hover {
        border-bottom: 4px solid #fff; }
      /* line 761, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .suggestion-max .tabs li a {
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase; }

/* line 775, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.active {
  border-bottom: 4px solid #1f98f0; }
  /* line 777, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .active a {
    color: #fff; }
  /* line 780, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .active:hover {
    border-bottom: 4px solid #1f98f0 !important; }

/* line 785, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.tab_container {
  height: 100%; }
  /* line 789, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .tab_container .tab_content .tab-logo {
    padding: 40px 0; }
  /* line 792, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .tab_container .tab_content .tab-deskr {
    padding: 40px 0;
    color: #fff; }
    /* line 794, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .tab_container .tab_content .tab-deskr p {
      color: #fff;
      text-align: left; }
    /* line 799, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .tab_container .tab_content .tab-deskr .tab-link {
      width: 120px;
      height: 35px;
      display: block;
      line-height: 35px;
      text-align: center;
      background: transparent;
      border-radius: 15px;
      border: 1px solid #1f98f0;
      text-transform: uppercase;
      color: #fff;
      transition: .2s linear;
      margin-top: 10%; }
      /* line 812, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .tab_container .tab_content .tab-deskr .tab-link:hover {
        background: #1f98f0; }

/* line 820, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.open {
  background-color: #1f98f0 !important; }

/* line 828, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.suggestion-min .acr .acr__item .acr-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  background-color: #2c2929;
  color: #fff; }
  /* line 837, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .suggestion-min .acr .acr__item .acr-title:hover {
    background-color: #1f98f0; }

/* line 842, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.suggestion-min .acr .acr__item .acr-content {
  display: none;
  background-color: #2c2929;
  width: 100%; }
  /* line 846, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .suggestion-min .acr .acr__item .acr-content img {
    width: 100%; }
  /* line 849, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .suggestion-min .acr .acr__item .acr-content p {
    text-align: center;
    margin: 0;
    padding: 30px 15px;
    color: #fff; }
  /* line 855, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .suggestion-min .acr .acr__item .acr-content a {
    width: 120px;
    height: 35px;
    display: block;
    line-height: 35px;
    text-align: center;
    background: transparent;
    border-radius: 15px;
    border: 1px solid #1f98f0;
    text-transform: uppercase;
    color: #fff;
    transition: .2s linear;
    margin-left: 50%;
    transform: translateX(-50%); }
    /* line 869, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .suggestion-min .acr .acr__item .acr-content a:hover {
      background: #1f98f0; }

/*=============== ОТЗЫВЫ ===============*/
/* line 885, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.otzyvy {
  height: 100%; }
  /* line 887, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .otzyvy .slider {
    background: #2c2929;
    padding: 30px 0; }
    /* line 890, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .otzyvy .slider .sl1 {
      padding: 0px; }
      /* line 892, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .otzyvy .slider .sl1 .sl_slide {
        position: relative;
        height: 400px;
        width: 100%; }
        /* line 896, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .otzyvy .slider .sl1 .sl_slide img {
          position: absolute;
          height: 100%;
          width: 100%; }
        /* line 901, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
        .otzyvy .slider .sl1 .sl_slide h3 {
          position: absolute;
          text-align: center;
          color: #fff;
          height: 50%;
          margin-bottom: 0;
          bottom: 0px;
          padding: 30px;
          width: 100%;
          text-transform: uppercase; }

/* line 919, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.otzivy-min {
  background-color: #2c2929; }
  /* line 921, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .otzivy-min .rotate {
    position: relative;
    height: 400px;
    background-color: #2c2929;
    transform-style: preserve-3d;
    transition: 0.6s;
    border-top: 2px solid #1f98f0;
    border-bottom: 2px solid #1f98f0; }
    /* line 929, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .otzivy-min .rotate .log {
      border: 4px solid #1f98f0;
      border-radius: 50%;
      position: absolute;
      margin: 0 auto;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
      vertical-align: middle;
      backface-visibility: hidden; }
      /* line 941, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .otzivy-min .rotate .log img {
        border-radius: 100px;
        width: 100%;
        height: 100%; }
    /* line 947, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .otzivy-min .rotate h3 {
      position: absolute;
      text-align: center;
      color: #fff;
      height: 50%;
      margin-bottom: 0;
      bottom: 0px;
      padding: 30px;
      width: 100%;
      text-transform: uppercase; }
    /* line 958, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .otzivy-min .rotate p {
      color: #fff;
      position: absolute;
      bottom: 0px; }

/*============= КОНЕЦ ===========*/
/*============= КОНТАКТЫ ===========*/
/* line 971, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.contact {
  height: 100%;
  background-color: #2c2929; }
  /* line 975, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .contact .conekt a {
    text-align: center; }
    /* line 977, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .contact .conekt a:hover .fa {
      color: #1f98f0; }
  /* line 979, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .contact .conekt .fa {
    padding: 0px;
    color: #fff;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px; }
  /* line 986, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .contact .conekt .input {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 30px;
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 4px solid #fff; }
    /* line 996, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .contact .conekt .input:focus {
      border-bottom: 4px solid #1f98f0; }
  /* line 1001, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .contact .conekt .knopka {
    margin-top: 25px;
    margin-bottom: 10px;
    height: 30px;
    background: #1f98f0;
    color: #fff;
    border: none;
    text-transform: uppercase;
    outline: none; }
  /* line 1012, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .contact .mymap {
    height: 500px;
    padding: 0px; }

/*============= КОНЕЦ ===========*/
/* ==============ПОДВАЛ============= */
/* line 1024, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.footer {
  background-color: black;
  height: 60px; }
  /* line 1027, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .footer h3 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
    margin: 0;
    vertical-align: middle; }

/*============= КОНЕЦ ===========*/
/*============ ВСПОМОГАТЕЛЬНЫЙ БЛОК ================*/
/* line 1044, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.slider {
  background: #2c2929;
  padding: 0px 0; }
  /* line 1047, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .slider .sl2 {
    padding: 0px; }
    /* line 1049, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .slider .sl2 .sl_slide {
      position: relative;
      height: 400px;
      width: 100%; }
      /* line 1053, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .slider .sl2 .sl_slide img {
        position: absolute;
        height: 100%;
        width: 100%; }
      /* line 1059, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .slider .sl2 .sl_slide h3 {
        position: absolute;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        height: 50%;
        margin-bottom: 0;
        bottom: 0px;
        padding: 30px;
        width: 10%; }

/* ============ МОДАЛЬНОЕ (ОКНО ОБЫЧНОЕ) ===========*/
/* line 1081, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }

/* line 1099, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal-content {
  position: fixed;
  top: 200px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #2c2929;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s; }

/* line 1112, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

/* line 1119, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/* line 1126, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal-header {
  height: 40px;
  background-color: #1f98f0;
  color: white;
  padding: 0 10px; }

/* line 1133, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal-body {
  padding: 2px 16px;
  color: #fff; }

/* line 1138, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal-footer {
  height: 40px;
  background-color: #1f98f0;
  color: white; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes slideIn {
  from {
    top: 50px;
    opacity: 0; }
  to {
    top: 200px;
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* ============== МОДАЛЬНОЕ ОКНО ГАЛЛЕРЕИ =================  */
/* line 1171, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }

/* line 1189, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal-content2 {
  position: fixed;
  top: 80px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #2c2929;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn1;
  animation-duration: 0.4s; }

/* line 1202, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

/* line 1209, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/* line 1216, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal-header {
  height: 40px;
  background-color: #1f98f0;
  color: white;
  padding: 0 10px; }

/* line 1223, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal-body {
  color: #fff; }

/* line 1228, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.modal-footer {
  height: 40px;
  background-color: #1f98f0;
  color: white; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    top: 50px;
    opacity: 0; }
  to {
    top: 100px;
    opacity: 1; } }

@keyframes slideIn1 {
  from {
    top: 0px;
    opacity: 0; }
  to {
    top: 80px;
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* ============== ПРЕЛОАДЕР =================  */
/* line 1260, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #1f98f0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Add animation to "page content" */
/* line 1288, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s; }

@-webkit-keyframes animatebottom {
  from {
    bottom: 0px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    top: 0px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/* line 1309, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
#wrap {
  height: 100%;
  width: 100%;
  display: none; }

/* ============== ВРАЩАЮЩИЕСЯ КАРТОЧКИ ОТЗЫВОВ =================  */
/* line 1319, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.d3 {
  height: 100%;
  perspective: 2500px; }
  /* line 1323, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .d3:hover .rotate {
    transform: rotateY(180deg); }
  /* line 1327, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .d3 .rotate {
    position: relative;
    height: 100%;
    background-color: #2c2929;
    transform-style: preserve-3d;
    transition: 0.6s;
    border: 4px solid #1f98f0; }
    /* line 1334, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .d3 .rotate .log {
      border: 4px solid #1f98f0;
      border-radius: 50%;
      position: absolute;
      margin: 0 auto;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
      vertical-align: middle;
      backface-visibility: hidden; }
      /* line 1346, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .d3 .rotate .log img {
        border-radius: 100px;
        width: 100%;
        height: 100%; }
    /* line 1352, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .d3 .rotate h3 {
      position: absolute;
      text-align: center;
      color: #fff;
      height: 50%;
      margin-bottom: 0;
      bottom: 0px;
      padding: 30px;
      width: 100%;
      text-transform: uppercase;
      backface-visibility: hidden; }
    /* line 1364, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .d3 .rotate .te {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      backface-visibility: hidden;
      transform: rotateY(180deg); }
      /* line 1371, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
      .d3 .rotate .te p {
        color: #fff;
        padding-top: 50%; }

/* line 1380, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
.main_menu {
  width: 100%;
  background-color: #2c2929;
  z-index: 9999;
  position: fixed;
  top: 60px;
  display: none; }
  /* line 1389, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
  .main_menu a {
    line-height: 40px;
    height: 40px;
    width: 100%;
    display: block;
    float: left;
    border-bottom: 4px solid #1f98f0;
    text-transform: uppercase;
    text-align: center; }
    /* line 1399, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
    .main_menu a:hover {
      background-color: #1f98f0;
      color: #fff; }

/* ============== ЗАТЕМНЕНИЕ КАРТЫ =================  */
/* line 1410, C:/Users/Администратор/Desktop/modelist.web/sass/style.scss */
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%); }

/*# sourceMappingURL=style.css.map */