.counter{
	width: 100%;
	height: 100%;
	background-color: #2c2929;
	
}



.bl{
	
	float: left;
	width: 177px;
	height: 150px;
	margin-right:0;
	margin-top: 35px;
	margin-bottom: 35px;
	
	box-sizing: border-box;
	border: 3px solid #2c2929;
	text-align: center;
}
.number{
	font-size: 2em;
	padding: 25px 0;
	font-weight: bold;
	color: #fff;
}

.text{
	color: #fff; 
	color: #fff;
    border-bottom: 4px solid #1f98f0;
    padding-bottom: 15px;
	font-family: 'Pacifico', cursive;
}